body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: Constantia;
    padding-top: 100px;
}

.data{
    padding-left: 50px;
}

.container {
    background: #bab1b1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ip {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#wety{
    font-family: Constantia;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #0056b3;
}

